/* #region Regole Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* #endregion Regole Reset */

/* #region Main Header */
.main-header {
    padding: 10px;
}

/* #endregion Main Header */